spring:
  thymeleaf:
    check-template-location: true
    cache: false
    prefix: classpath:/templates/
    suffix: .html
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:test
      username: sa
      password:
      driver-class-name: org.h2.Driver


#  security:
#    user:
#      name: user
#      password: 1111
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true