<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:href="@{/js/bootstrap.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Login</title>
</head>
<body class="text-center">

<main class="form-control mt-5">
    <img class="w-50 h-50" th:src="@{https://images.velog.io/images/franc/post/7dcd4b9c-dd51-4ca6-8629-0061aee4870a/security-logo.jpg}" alt="security">

    <form class="w-25 m-auto" th:action="@{/login}" method="post">
        <div class="form-floating">
            <input id="username"
                   name="username"
                   class="form-control"
                   required autofocus>
            <label for="username">ID</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   required>
            <label for="password">Password</label>
        </div>
        <div class="checkbox mt-2 mb-3">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
            <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">로그인 유지</label>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        <button class="btn btn-lg btn-light" type="button">Sign Up</button>

        <p class="mt-5 mb-3 text-muted">&copy Dev_Lee</p>
    </form>
</main>
</body>

<style>

</style>
</html>